<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="menu">
      <div class="menu-item">
        <input type="checkbox" id="interpolation" name="interpolation" checked>
        <label for="interpolation">Enable Client Interpolation</label>
      </div>
    </div>
    <canvas id="canvas"></canvas>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <div>Arrow keys to control. Enter to reset boxes. Jumping is only possible on ground.</div>
    <div><a href="https://github.com/gamgi/box2d-socketio-app">Source on Github</a></div>
  </body>
</html>
